<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Blog</title>
	<link rel="stylesheet" type="text/css" href="style.css">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="css/mainpage.css">
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <script src="javascript/jquery-1.9.1.min.js"></script>
        <script src="javascript/jquery-ui.js"></script>
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
        <script type="text/javascript">
            $(function(){
               $('#datePicker').datepicker();
               $('#datePicker').datepicker("option", "dateFormat", "yy-mm-dd");
               $('#print').click(function(){
                   $(this).hide();
                   window.print();
               });
            });
        </script>
  </head>
  <body>